.project-card {
    margin-top: 2rem;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

.project-title {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.project-description-container {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    height: 20rem;
}

@media(min-width: 1024px) {
    .project-card {
        width: 18rem;
        
    }
    .project-description-container {
        height: 20rem;
    }
}