.project-card {
    margin-top: 4rem;
    width: 15rem;
    flex: 0 0 auto;
    flex-direction: column;
    display: inline-block;
    margin: 0.5rem;
    overflow: hidden;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
}

.project-title {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.project-description-container {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    height: 20rem;
}

@media(min-width: 1024px) {
    .project-card {
        width: 25rem;
        margin: 2rem;
    }
    .project-description-container {
        height: 10rem;
    }
}