.journey-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  margin-top: 3rem;
}

.journey-scroll-container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}