.projects-section {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  margin-top: 4rem;
}

.projects-scroll-container {
  overflow-x: auto;
  gap: 1rem;
  white-space: nowrap;
  margin-top: 4rem;
  margin-bottom: 9.12rem;
}