.logo {
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: var(--color-neutral);
  text-decoration: none;
  font-size: 1.25rem;
}