.journey-card {
  margin-top: 4rem;
  flex: 0 0 auto;
  flex-direction: column;
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.journey-title {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.journey-description {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}