.journey-card {
  margin-top: 4rem;
  flex: 0 0 auto;
  flex-direction: column;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
}

.journey-title {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.journey-description {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  height: 8rem;
}

.journey-link {
  text-decoration: none;
  color: var(--color-secondary);
  display: flex;
  font-weight: 700;
  font-size: 20px;;
  height: 2.5rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--color-primary);
}

.journey-link:hover {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  border: 2px solid var(--color-primary);
}
.journey-link:focus {
  outline: 3px solid rgb(244, 8, 173);
}