.media-button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--color-neutral);
}

.media-button:hover {
  background-color: var(--color-accent);
  transform: scale(1.1);
  cursor: pointer;
}