.navigation-section {
  display: flex;
  justify-content: flex-end;
}

.hamburger-menu {
  display: none;
}

.ul-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-navigation {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.li-navigation a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.25rem;
}

.li-navigation a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-menu {
    position: relative;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .bar {
    width: 30px;
    height: 3px;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-neutral);
  }

  .ul-navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5px 0;
    background-color: var(--color-secondary);
    z-index: 1000;
  }

  .ul-navigation.open {
    display: flex;
    padding-top: 4rem;
  }

  .li-navigation {
    margin: 5px 0;
    text-align: center;
  }

  .li-navigation a {
    font-size: 1.5rem;;
    color: var(--color-neutral);
    text-decoration: none;
    font-weight: 500;
  }
}

.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}