.article-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-header {
  width: 100%;
  display: flex;
}

.link-back-to-home {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 600px;
  color: var(--color-neutral);
  display: flex;
  align-items: center;
}

.link-back-to-home:hover {
color: var(--color-primary);
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 1rem 0;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

img {
  max-width: 800px;
  width: 100%;
  height: auto;
  display: block;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-neutral);
}