.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;              
  margin-bottom: 1rem;      
  padding: 0.5rem;          
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  border: 2px solid var(--color-primary);
}

input {
  background-color: var(--color-neutral);
  color: var(--color-primary);
}

textarea {
  cursor: text;
  height: 200px;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: yellow;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-secondary);
}

.button-container {
  height: 4rem;
  margin-bottom: 4rem;
}

button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  border: 2px solid var(--color-primary);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition: all 0.5s ease-out;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  border: var(--color-neutral);
}