:root {
  --color-primary: #00838F;
  --color-secondary: #202020;
  --color-neutral: #FFFFFF;
}

body {
  background-color: var(--color-neutral);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hidden-form {
  display: none;
}
