:root {
  --color-primary:#36d9c6;
  --color-secondary: #202020;
  --color-neutral: #fefcfc;
}

body {
  background-color: var(--color-secondary);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hidden-form {
  display: none;
}
