.footer-image-container {
  position: relative;
  width: 29.73288rem;
  height: 30.27263rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  z-index: 1;
}

.footer-image {
  position: absolute;
  bottom: 0;
  border-radius: 27.061rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  border: var(--color-primary) 6px solid;
}

.footer-image-top-layer {
  position: absolute;
  top: 0;
  height: 17.776rem;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
}